 
<table >
  <thead>
     
  </thead>
  <tbody>
      <tr *ngFor="let item of items | async ">
          <td> 
            <button type="button" >Edit</button>
          </td>
          <div class="list-item"> 
            <tr><td>{{ item.date | date:' dd . MMM . yyyy '}}</td></tr> 
            <tr><td class="list-item-title">{{ item.title }}</td>
                <td class="list-item-amount">{{ item.amount }}</td>
            </tr> 
            
            <tr>
                <td>NOTE: {{ item.note }}</td>
            </tr>
            
            
           </div> 

          <td>
              <button type="button" >Remove</button>
          </td>
      </tr>
  </tbody>
</table>




     <!--
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Amount</th>
                            <th>Note</th>
                            <th>Action</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items | async ">
                            <th>{{ item.title }}</th>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.note }}</td>
                            <td>{{ item.date }}</td>
                            <td>
                                <button type="button" >Edit</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
  <div *ngIf="(products$ | async); let products">
  <div class="table-responsive" *ngIf="products.length; else elseBlock">
    <app-favorite-product-list-item
      [product]="products"
    ></app-favorite-product-list-item>
  </div>
  <ng-template #elseBlock>
    <div class="p-5">You have'nt favorited anything yet.</div>
  </ng-template>
</div>
      
      
      <div>
          <h4>
            <span >{{item.title}}</span>
          </h4>
      </div>
      <div>
        <h4>
          <span >{{item.amount}}</span>
        </h4>
      </div>
      <div>
        <h4>
          <span >{{item.note}}</span>
        </h4>
      </div>
      <div>
        <h4>
          <span >{{item.date}}</span>
        </h4>
      </div>
  
    --> 
  
  

    
