<!--The content below is only a placeholder and can be replaced.-->
<div >
<div class="class">
  <h1 class="fontcolor"> 
    MY {{ title }}
  </h1>
  

<div>
<h4>Total</h4>
<label>{{amount}}</label>
</div>
</div>
<div  class="class" > 
  <div > 
<input class="textBox" type="text" name="Title" placeholder="Title"><br><br>
<input class="textBox" type = "text" name="Amount" placeholder="Amount"><br><br>
<input class="textBox" type ="text" name= "Note" placeholder="Note"><br><br>
<input class="textBox" type ="text" name="Date" placeholder="Date"><br><br>
<input  class="buttonRound" type ="button" name = "Add Expense" value="ADD EXPENSE" >
</div>
<div>
  
  
  <app-edit-item></app-edit-item>

</div>
</div>
</div>




