.class {
    display: flex;
    background-color:  #4f16ace8;
    margin:50px;
    padding:20px;
  }
  .class > div {
    background-color: #4f16ace8;
    margin: 10px;
    padding: 20px 24px;
    font-size: 30px;
    opacity: 0.9;
  }
  .center {
    display: block;
    margin: auto;
    }

    .fontcolor{
        color:#FFFFFF;
    }
    .buttonRound {
        border-radius: 30px;
        background-color:#2dd9d0;
        padding: 10px 24px;
    }
    .textBox{
      background-color:  #4f16ace8;
      padding:10px;
      color:white;
      border: 0.5px solid white;
    }
    .float-right{
      width:100%;
    }
