<!--The content below is only a placeholder and can be replaced.-->
<div class="class">
  <h1 class="fontcolor"> 
    My {{ title }}
  </h1>
  


<h2>Total</h2>
<label>{{amount}}</label>

<div  class="class" > 
  <div>
<input type="text" name="Title"><br><br>
<input type = "text" name="Amount"><br><br>
<input type ="text" name= "Note"><br><br>
<input type ="text" name="Date"><br><br>
<input class="buttonRound" type ="button" name = "Add Expense" value="ADD EXPENSE" >
</div>
<div>
  <label class="fontcolor"> Expense 1</label><br><br>
  <label> Expense 2</label><br><br>
  <label> Expense 3 </label><br><br>
</div>
</div>
<app-edit-item></app-edit-item>
</div>


